<br><br>
<div class="ContendorTextos">
  <div>
    <h1>Se parte de esta hermosa comunidad</h1>
  </div>
  <div>
    <h2>Siguenos en Instagram</h2>
    <a href="https://www.instagram.com/bnbcorp/">@bnbcorp
    </a>
  </div>
</div>

<div class="grid-container">
  {% for block in section.blocks %}
    {% assign image = block.settings.Img | img_url: '1000x' %}
    {% assign imageTall = block.settings.ImgTall | img_url: '1000x' %}
    {% assign imageWide = block.settings.ImgWide | img_url: '1000x' %}
    <div class="grid-item {% if block.type == 'image-Tall' %}tall{% elsif block.type == 'image-Wide' %}wide{% endif %}" style="background-image: url('{% if block.type == 'image-Tall' %}{{ imageTall }}{% elsif block.type == 'image-Wide' %}{{ imageWide }}{% else %}{{ image }}{% endif %}')">.</div>
  {% endfor %}
</div>



<style>
  .Galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ContendorTextos {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .ContendorTextos a {
    color: #348158;
  }

  .ContendorTextos h1 {
    color: #348158;
  }
  .ContendorTextos h2 {
    color: #121212;
  }



  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }

  .grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
    max-width: 1500px;
    width: 100% !important;
  }
  @media(max-width: 600px) {
    .Galeria {
      padding: 0;
    }
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .ContendorTextos {
      flex-direction: column;
      text-align: center;

    }

  }

  .wide {
    grid-column: span 2;
  }

  .tall {
    grid-row: span 2;
  }
</style>



{% schema %}
  {
    "name": "GaleriaA",
    "class": "Galeria",
    "settings": [],
    "blocks": [
      {
        "type": "image",
        "name": "imagen",
        "settings": [
          {
            "type": "image_picker",
            "id": "Img",
            "label": "Imagen "
          }
        ]
      }, {
        "type": "image-Tall",
        "name": "imagen-Tall",
        "settings": [
          {
            "type": "image_picker",
            "id": "ImgTall",
            "label": "Imagen"
          }
        ]
      }, {
        "type": "image-Wide",
        "name": "imagen-Wide",
        "settings": [
          {
            "type": "image_picker",
            "id": "ImgWide",
            "label": "ImagenWide"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "GaleriaA",
        "blocks": []
      }
    ]
  }
{% endschema %}