<div class="ContenedorVideo">
  <h3></h3>
</div>

<style>
  .ContenedorVideo {}
</style>
{% schema %}
  {
    "name": "Historia",
    "class": "Historia",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "Historia",
        "blocks": []
      }
    ]
  }
{% endschema %}