<div class="ContenedorCardsIngredientes">


  <div class="SliderProductos">
    <div class="imgScroll">
      <div class="ContendorCardsSlider">
        <div class="CardIngredientes ImgSliderCollecion">
          <h3>Zing</h3>
          <img
            class=""
            src="https://cdn.shopify.com/s/files/1/0606/0641/5012/files/1_65b9b07b-04b7-41b6-b17d-fa90158c1345.png?v=1697087128"
            alt="">
        </div>
        <div class="CardIngredientes ImgSliderCollecion">
          <h3>Colageno</h3>
          <img
            class=""
            src="https://cdn.shopify.com/s/files/1/0606/0641/5012/files/2_c67ad32e-a426-4566-8e64-57b0defec80a.png?v=1697087128"
            alt="">
        </div>
        <div class="CardIngredientes ImgSliderCollecion">
          <h3>Vitamina C</h3>
          <img
            class=""
            src="https://cdn.shopify.com/s/files/1/0606/0641/5012/files/3_4cd66bf0-654d-46a5-a7fb-2893d5cf4015.png?v=1697087128"
            alt="">
        </div>
        <div class="CardIngredientes ImgSliderCollecion">
          <h3>Vitamina D</h3>
          <img
            class=""
            src="https://cdn.shopify.com/s/files/1/0606/0641/5012/files/4_2e9d24a7-ed8b-45b4-a417-4760ddd13ce8.png?v=1697087128"
            alt="">
        </div>

        <div class="CardIngredientes ImgSliderCollecion">
          <h3>Vitamina D</h3>
          <img
            class=""
            src="https://cdn.shopify.com/s/files/1/0606/0641/5012/files/5_d484871e-e278-44c1-938b-70520f8d594f.png?v=1697087128"
            alt="">
        </div>

         <div class="CardIngredientes ImgSliderCollecion">
          <h3>Vitamina D</h3>
          <img
            class=""
            src="https://cdn.shopify.com/s/files/1/0606/0641/5012/files/6.png?v=1697087128"
            alt="">
        </div>
           <div class="CardIngredientes ImgSliderCollecion">
          <h3>Vitamina D</h3>
          <img
            class=""
            src="https://cdn.shopify.com/s/files/1/0606/0641/5012/files/6.png?v=1697087128"
            alt="">
        </div>
        


      </div>
      <div class="ContendorCardsSlider">
        <div class="CardIngredientes ImgSliderCollecion">
          <h3>Zing</h3>
          <img
            class=""
            src="https://cdn.shopify.com/s/files/1/0606/0641/5012/files/Frame_5.svg?v=1690355728"
            alt="">
        </div>
        <div class="CardIngredientes ImgSliderCollecion">
          <h3>Colageno</h3>
          <img
            class=""
            src="https://cdn.shopify.com/s/files/1/0606/0641/5012/files/Frame_3.svg?v=1690355728"
            alt="">
        </div>
        <div class="CardIngredientes ImgSliderCollecion">
          <h3>Vitamina C</h3>
          <img
            class=""
            src="https://cdn.shopify.com/s/files/1/0606/0641/5012/files/Frame_1.svg?v=1690355730"
            alt="">
        </div>
        <div class="CardIngredientes ImgSliderCollecion">
          <h3>Vitamina D</h3>
          <img
            class=""
            src="https://cdn.shopify.com/s/files/1/0606/0641/5012/files/Frame_4.svg?v=1690355730"
            alt="">
        </div>


      </div>


    </div>
  </div>



</div>



<style>
  .Ingredientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

  }

  .ContenedorCardsIngredientes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1400px;
    width: 100%;
    background: #E6F2F0;

  }
  .TextTitle {
    text-align: center;
  }

  .CardIngredientes img {
    width: 340px;
    height: 100% !important;
  }
  .CardIngredientes {
    position: relative;
    margin: 2rem;
    overflow: hidden;
    width: 340px;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .CardIngredientes h3 {
    position: absolute;
    top: 10px;
    left: 25px;
  }
  .CardIngredientes p {
    position: absolute;
    top: 35px;
    left: 25px;
  }



  .SliderProductos {
    width: 100% !important;
    height: 280px;
    position: relative;
  }
  .imgScroll {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    overflow-x: hidden;

  }
  .imgScroll .ContendorCardsSlider {
    display: flex;
    animation: animate 40s linear infinite;
    animation-delay: -40s;
  }
  .imgScroll .ContendorCardsSlider:nth-child(2) {
    animation: animate2 40s linear infinite;
    animation-delay: -20s;
  }
  .imgScroll:hover .ContendorCardsSlider,
  .imgScroll:hover .ContendorCardsSlider:nth-child(2) {
    animation-play-state: paused;
  }
  @keyframes animate {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes animate2 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  .imgScroll .ContendorCardsSlider .ImgSliderCollecion {

    transition: 0.25s;
  }
  .imgScroll .ContendorCardsSlider .ImgSliderCollecion:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
  .imgScroll:hover .ContendorCardsSlider .ImgSliderCollecion {
    opacity: 0.05;
    filter: blur(5px);
  }
  .imgScroll .ContendorCardsSlider .ImgSliderCollecion:hover {
    opacity: 1;
    filter: blur(0px);
  }
</style>

{% schema %}
  {
    "name": "Ingredientes",
    "class": "Ingredientes",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "Ingredientes",
        "blocks": []
      }
    ]
  }
{% endschema %}