<div class="Linea">
  .
  
</div>

<style>
  .Linea{
    width:100%;
    height:100px;
  }
</style>

{% schema %}
  {
    "name": "Linea",
    "class": "Linea",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "Linea",
        "blocks": []
      }
    ]
  }
{% endschema %}